In [18]:
import numpy as np
import pandas as pd

In [19]:
df = pd.read_csv("data.csv")
df.head()

   Time  PR_Val Temp_Val Sys_Val  Resp_Val  SPO2
0  1038     108        -       -        38    97
1  1039     108        -       -        36    97
2  1040     108        -       -        34    97
3  1041     107        -       -        32    97
4  1042     107        -       -        30    97

In [20]:

def assign_mews_score_to_pulse_rate(pulse_rate):
    # Define MEWS score ranges for Pulse Rate
    if 51<= pulse_rate <= 100:
        return 0  # Normal
    elif 101 < pulse_rate <= 110:
        return 1  # Mildly elevated
    elif 41 < pulse_rate <= 50:
        return 1  # Mildly elevated    
    elif 111 < pulse_rate <= 129:
        return 2  # Elevated
    elif  pulse_rate <= 40:
        return 2  # Elevated    
    elif pulse_rate >= 130:
        return 3  # High
    else:
        return 3  # Very high

In [21]:
def assign_mews_score_to_spo2(spo2):
    # Define MEWS score ranges for Spo2
    if 95 <= spo2 :
        return 0  # Normal
    elif 90 <= spo2 <=94:
        return 1  # Mildly reduced
    elif 86 <= spo2 <= 89:
        return 2  # Moderately reduced
    elif  spo2 <= 85:
        return 3  # Severely reduced
    else:
        return 3  # Very severely reduced

In [22]:
def assign_mews_score_to_respiratory_rate(respiratory_rate):
    # Define MEWS score ranges for Respiratory Rate
    if 9 <= respiratory_rate <= 14:
        return 0  # Normal
    elif 15 <= respiratory_rate <= 20:
        return 1  # Mildly elevated
    elif 21 <= respiratory_rate <= 29:
        return 2  # Elevated
    elif 30 <= respiratory_rate :
        return 3  # High
    else:
        return 3  # Very high

In [23]:
df.head()

   Time  PR_Val Temp_Val Sys_Val  Resp_Val  SPO2
0  1038     108        -       -        38    97
1  1039     108        -       -        36    97
2  1040     108        -       -        34    97
3  1041     107        -       -        32    97
4  1042     107        -       -        30    97

In [24]:
df["PR_Val"] = df["PR_Val"].apply(assign_mews_score_to_pulse_rate)
df["Resp_Val"] = df["Resp_Val"].apply(assign_mews_score_to_respiratory_rate)
df["SPO2"] = df["SPO2"].apply(assign_mews_score_to_spo2)

In [26]:
for i in df.columns: 
    df[i] = df[i].replace('-', 'N')

    Time  PR_Val Temp_Val Sys_Val  Resp_Val  SPO2
0   1038       1        -       -         3     0
1   1039       1        -       -         3     0
2   1040       1        -       -         3     0
3   1041       1        -       -         3     0
4   1042       1        -       -         3     0
5   1043       1        -       -         2     0
6   1044       1        -       -         2     0
7   1045       1        -       -         1     0
8   1046       1        -       -         1     0
9   1047       1        -       -         0     0
10  1048       1        -       -         0     0
11  1049       1        -       -         0     0
12  1050       1        -       -         0     0
13  1051       1        -       -         2     0
14  1052       1        -       -         2     0
15  1053       1        -       -         2     0
16  1054       1        -       -         2     0
17  1055       1        -       -         3     0
18  1056       1        -       -         3     0
19  1057       2        -       -         3     0
20  1058       1        -       -         3     0
21  1059       2        -       -         3     0
22  1060       2        -       -         3     0
23  1061       2        -       -         3     0
24  1062       2        -       -         3     0
25  1063       2        -       -         3     0
26  1064       2        -       -         3     0
27  1065       2        -       -         3     0
28  1066       3        -       -         3     0
29  1067       2        -       -         3     0
30  1068       2        -       -         3     0
31  1069       2        -       -         3     0
32  1070       2        -       -         3     0
33  1071       2        -       -         3     0
34  1072       2        -       -         3     0
35  1073       2        -       -         3     0
36  1074       1        -       -         3     0
37  1075       1        -       -         3     0
38  1076       1        -       -         3     0
39  1077       1        -       -         3     0
40  1078       1        -       -         3     0
41  1079       1        -       -         3     0
42  1080       1        -       -         3     0

In [ ]:
df['pattern'] = df.apply(lambda row: ''.join(map(str, row[1:])), axis=1)

pmews = df[['Time', 'pattern']]

pmews.columns = ['Time', 'pattern']

pmews